.message_header
  .message_header_title
    .message_header_title_home
      = link_to groups_path do
        = fa_icon 'home', class: "message_header_right_home_icon"
    .message_header_title_name    
      = @group.name
    .message_header_title_new
      %label
        = link_to new_group_message_path(params[:group_id]) do
          = fa_icon 'pencil', class: "message_header_title_new_icon" 
          %span
            記事投稿
    
.flash
  = render 'layouts/flash'
.message_main
  .message_main_search
    = form_with url: search_group_messages_path(@group), local: true, method: :get, class:"message_main_search_form" do |f|
      = f.text_field :keyword, placeholder: "記事を探す", class: "message_main_search_form_text"
      %label(for="search") 
        .message_main_search_form_submit
          = image_tag "/icon-search 1.png", class: "message_main_search_form_submit message_main_search_form_submit_icon"
        = f.submit id: "search", class: "hidden"

  .message_main_lists
    - @messages.each do |message|
      .message_main_list
        .message_main_list_title
          .message_main_list_title_icon
            = image_tag message.user.image.url, class: "message_main_list_title_icon"

          .message_main_list_title_time
            = message.created_at.to_s(:yeardate)
            投稿

          .message_main_list_title_name
            = message.title

          .message_main_list_title_edit
            - if message.user_id == current_user.id
              = link_to edit_group_message_path(@group,message.id), class: "message_main_list_title_edit_icon" do
                = fa_icon 'edit'
            
        .message_main_list_img    
          = image_tag message.image.url, class: 'message_main_list_img' if message.image.present?

        .message_main_list_content
          = message.content
        
        .message_main_list_contact
          .message_main_list_contact_favorite
            - if message.favorites.find_by(user_id: current_user.id)
              = link_to group_message_favorite_path(@group.id, message.id, message.favorites.ids), method: :delete, class: "message_main_list_contact_favorite_destroy" do
                = fa_icon 'far heart', class: "message_main_list_contact_favorite_destroy_icon"
                %span
                  = message.favorites.count
            - else
              = link_to group_message_favorites_path(@group.id, message.id), class: "message_main_list_contact_favorite_create", method: :post do
                = fa_icon 'fas heart', class: "message_main_list_contact_favorite_create_icon"
                %span
                  = message.favorites.count
          .message_main_list_contact_comment
            = fa_icon 'comment'
            %span
              = message.comments.count
        
        .message_main_list_comment
          .message_main_list_comment_area{data: {index: message.id}}
            - message.comments.each do |comment|
              .message_main_list_comment_area_content
                .message_main_list_comment_area_content_img
                  = image_tag comment.user.image.url, class: "message_main_list_comment_area_content_img"
                .message_main_list_comment_area_content_name
                  = comment.user.name
                .message_main_list_comment_area_content_comment
                  = comment.comment

          .message_main_list_comment_form
            = form_with model: @comment, url: group_message_comments_path(@group, message, @comment), method: :post, local: true, id: "new_comment", class:"message_main_list_comment_form" do |f|
              = f.text_field :comment, placeholder: "コメントする", class: "message_main_list_comment_form_text"
              %label(for="comment_send")
                = f.submit id: "comment_send", class: "hidden"
                = fa_icon 'paper-plane', class: "message_main_list_comment_form_submit"
                 



    