.devise  
  .devise_title
    %span
      Engineer Road
  .flash
    = render 'layouts/flash'
  .devise_form
    .devise_form_title
      ユーザー情報編集
    = form_for(@user, url: user_registration_path(id: current_user.id)) do |f|
      .user_previews
        - if @user.persisted? && @user.image.present?
          = image_tag @user.image.url, class: "user_img"
      .user_image_box        
        .user_file_field
          画像選択
          = f.file_field :image, class:"user_image"
        .user_remove
          %span
            削除
      .field
        = f.label :name
        %br/
        = f.text_field :name, maxlength: "8", class: "text"
      .field
        = f.label :email
        %br/
        = f.email_field :email, autocomplete: "email", class: "text" 
      .field
        = f.label :password（6文字以上）
        %br/
        = f.password_field :password, autocomplete: "new-password", class: "text"
      .actions
        = f.submit "更新", class: "actions_submit"

