.body
  .new__comment
    .new__comment__return
      = link_to  group_message_path(@group.id,@message.id), class: "new__comment__return" do
        = fa_icon 'undo'
    .new__comment__title
      = @message.title

  .main
    = form_with model: [@group, @message, @comment], html: {class: "new__comment__form"}, local: true do |f|
      = f.text_area :comment, placeholder: "コメントを入力してください", class: "new__comment__form__text"
      = button_tag  type: "submit", class: "new__comment__form__submit" do
        = fa_icon "paper-plane"
    
    
    .main__link
      .google
        = link_to "https://www.google.com/?hl=ja" do
          = fa_icon 'google', class: "google-icon"
      .youtube
        = link_to "https://www.youtube.com/?gl=JP" do
          = fa_icon 'youtube', class: "youtube-icon"
