.top
  .top_header
    .top_header_title
      .top_header_title_new
        .top_header_title_new_icon
          = fa_icon 'graduation-cap'
        .top_header_title_new_p
          新規グループ作成
      .top_header_title_name
        Engineer Road
      .top_header_title_right
        - if user_signed_in?
          .top_header_title_right_mypage
            = link_to user_path(current_user.id), class: "top_header_title_right_mypage" do
              マイページ
          .top_header_title_right_logout
            = link_to destroy_user_session_path, method: :delete, class: "top_header_title_right_logout" do
              ログアウト
        - else
          .top_header_title_right_signup
            = link_to  new_user_registration_path, class: "top_header_title_right_login" do
              新規登録
          .top_header_title_right_login
            = link_to new_user_session_path, class: "top_header_title_right_login" do
              ログイン
    
  .top_flash
    = render 'layouts/flash'
    .top_flash_new_group
      = form_with url: groups_path, local: true, method: :post, class:"top_flash_new_group_form" do |f|
        = f.text_field :name, placeholder: "グループ名を入力してください", class: "top_flash_new_group_form_text"
        .top_flash_new_group_form_submit
          = f.submit :new, id: "new_group"
  .top_main
    .top_main_lists
      - @groups.each do |group|
        = link_to group_messages_path(group.id), calss: "top_main_list" do
          .top_main_list.fuwafuwa
            .top_main_list_count
              投稿数
              = group.messages.count
            .top_main_list_name
              = group.name
            .top_main_list_latest
              %span
                最新更新日
              %br/
              = group.created_at.to_s(:datetime)
            = link_to group_path(group.id), method: :delete, data: { confirm: '削除しますか？' }, class: "top_main_list_delete" do
              delete

    .top_main_right
      -if user_signed_in?
        .top_main_right_user
          -if current_user.image.present?
            = image_tag current_user.image.url, class: "top_main_right_user_icon"
          - else
            .nouser_icon
              = fa_icon('user')
        .top_main_right_user_title
          ユーザー名
        .top_main_right_user_name  
          = current_user.name
        .top_main_right_user_edit
          = link_to edit_user_registration_path, class:"top_main_right_user_edit_button" do
            edit
            =fa_icon 'edit'
      - else
        .top_main_right_user
          .nouser_icon
            = fa_icon('user')
        .top_main_right_user_title
          ユーザー名
        .top_main_right_user_name
          ゲストユーザー
       
      .top_main_right_link
        .top_main_right_link_google
          %label 
            = link_to "https://www.google.com/?hl=ja" do
              = fa_icon 'google', class: "google-icon"
              %span
                googleで検索
        
        .top_main_right_link_youtube
          %label
            = link_to "https://www.youtube.com/?gl=JP" do
              = fa_icon 'youtube', class: "youtube-icon"
              %span
                youtubeで検索
      