.body
  .new__group__header
    .new__group__header__return
      = link_to  root_path, class: "new__group__header__return" do
        = fa_icon 'undo'
    .new__group__header__logo
      New group

  .new__group__main
    .new__group__main__form
      = form_with model:[@group], html: {class: "new__group__main__form"},  local: true do |f|
        = f.text_field :name, placeholder: "Group name", class: "new__group__main__form__title"
        = button_tag  type: "submit", class: "new__group__main__form__send" do
          = fa_icon "check-circle"

    .main__link
      .google
        = link_to "https://www.google.com/?hl=ja" do
          = fa_icon 'google', class: "google-icon"
      .youtube
        = link_to "https://www.youtube.com/?gl=JP" do
          = fa_icon 'youtube', class: "youtube-icon"
